<h2>Genero</h2>
<hr />

<button type="button" class="btn btn-primary mb-2" [routerLink]="['/generos/new']">
  Novo
</button>

<section>
  @if (loading$ | async) {
    <div class="alert alert-warning" role="alert">
      Carregando..
    </div>
  } @else {
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th style="width: 100px;">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (genero of generos$ | async; track genero) {
          <tr>
            <td colspan="2">
              <app-genero-list-item [genero]="genero" class="genero-item" (onDelete)="onDeleted($event)" />
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</section>
