<h2>Livro</h2>
<hr />

<button type="button" class="btn btn-primary mb-2" [routerLink]="['/livros/new']">
    Novo
</button>

<section>
    <div *ngIf="livros.length == 0" class="alert alert-warning" role="alert">
        Nenhum genero foi cadastrado ainda.
    </div>

    <ul class="list-group" *ngIf="livros.length > 0" >
        <li class="list-group-item" *ngFor="let livro of livros">
            <app-livro-list-item [livro]="livro" class="livro-item" (onDelete)="onDeleted($event)"></app-livro-list-item>
        </li>
    </ul>
</section>
